<h1> Shelters </h1>
<% @shelters.each do |shelter| %>
<p>Shelter name: <%= shelter.name %> </p>
<p>Location of shelter: <%= shelter.city %> </p>
<% end %>

<h2> Statistics </h2>
<% @shelters.each do |shelter| %>
<p>SHELTER: <%= shelter.name %>, PETS AVAILABLE: <%= shelter.pets.count %> </p>
<% end %>
